---
services:
  server:
    container_name: authentik-server
    image: ghcr.io/goauthentik/server:2025.2.1
    restart: unless-stopped
    command: server
    depends_on:
      - postgresql
      - redis
    volumes:
      - media:/media
      - custom-templates:/templates
    environment:
      - AUTHENTIK_REDIS__HOST=redis
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__USER=${POSTGRES_USER}
      - AUTHENTIK_POSTGRESQL__NAME=${POSTGRES_DB}
      - AUTHENTIK_POSTGRESQL__PASSWORD=${POSTGRES_PASSWORD}
      - AUTHENTIK_ERROR_REPORTING_ENABLED=true
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY} #echo $(openssl rand -base64 32)
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authentik.entrypoints=http"
      - "traefik.http.routers.authentik.rule=Host(`authentik.hughboi.cc`)"
      - "traefik.http.middlewares.authentik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.authentik.middlewares=authentik-https-redirect"
      - "traefik.http.routers.authentik-secure.entrypoints=https"
      - "traefik.http.routers.authentik-secure.rule=Host(`authentik.hughboi.cc`)"
      - "traefik.http.routers.authentik-secure.tls=true"
      - "traefik.http.services.authentik.loadbalancer.server.port=9000"
      - "traefik.docker.network=proxy"
    networks:
      - proxy

  worker:
    container_name: authentik-worker
    image: ghcr.io/goauthentik/server:2025.2.1
    user: root
    restart: unless-stopped
    command: worker
    depends_on:
      - postgresql
      - redis
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - media:/media
      - certs:/certs
      - custom-templates:/templates
    environment:
      - AUTHENTIK_REDIS__HOST=redis
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__USER=${POSTGRES_USER} 
      - AUTHENTIK_POSTGRESQL__NAME=${POSTGRES_DB} 
      - AUTHENTIK_POSTGRESQL__PASSWORD=${POSTGRES_PASSWORD} 
      - AUTHENTIK_ERROR_REPORTING_ENABLED=true # Enables reporting
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY}
    networks:
      - proxy  
  
  
  postgresql:
    container_name: authentik-postgres
    image: docker.io/library/postgres:16.4
    restart: unless-stopped
    logging:
      driver: loki
      options:
        loki-url: "https://loki.hughboi.cc/loki/api/v1/push"
        loki-retries: 2
        loki-max-backoff: 800ms
        loki-timeout: 1s
        keep-file: "true"
        mode: "non-blocking"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - database:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - TZ=America/Denver 
    networks:
      - proxy


  redis:
    container_name: authentik-redis  
    image: docker.io/library/redis:7.4.1
    restart: unless-stopped
    command: --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - redis:/data
    networks:
      - proxy


volumes:
  database:
    driver: local
  redis:
    driver: local
  media:
  custom-templates:
  certs:

networks:
  proxy:
    external: true
