
version: 1

web:
  listen:
    port: 8080
    host: 0.0.0.0  
    # https:
    #   enabled: true
    #   certDir: "certs"
    #   sharedDir: "certs/shared"
  src:
    # the location on the filesystem where webapp javascript + css is located
    frontend:
      path: /opt/fasten/web
database:
  encryption:
    enabled: false
  #    key: ''
  type: 'sqlite' # postgres will be supported in the future, but is completely **BROKEN** at the moment.
  location: '/opt/fasten/db/fasten.db' # if postgres (**BROKEN**) use a DSN, eg. `host=localhost user=gorm password=gorm dbname=gorm port=9920 sslmode=required TimeZone=Asia/Shanghai`
log:
  file: '' # absolute or relative paths allowed, eg. web.log
  level: INFO
jwt:
  issuer:
    # you should ABSOLUTELY change this value before deploying Fasten.
    # TODO: in future versions, this will be generated on first run with a random value, and stored as a System Setting.
    key: "supersecretkeyhere
"