---
services:
  app:
    container_name: lubelogger  
    image: ghcr.io/hargata/lubelogger:latest
    restart: unless-stopped    
    logging:
      driver: loki
      options:
        loki-url: "https://loki.hughboi.cc/loki/api/v1/push"
        loki-retries: 2
        loki-max-backoff: 800ms
        loki-timeout: 1s
        keep-file: "true"
        mode: "non-blocking"
    build: .
    volumes:
      - config:/App/config
      - data:/App/data
      - translations:/App/wwwroot/translations
      - documents:/App/wwwroot/documents
      - images:/App/wwwroot/images
      - temp:/App/wwwroot/temp
      - log:/App/log
      - keys:/root/.aspnet/DataProtection-Keys
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.lubelogger.entrypoints=http"
        - "traefik.http.routers.lubelogger.rule=Host(`lubelogger.hughboi.cc`)"
        - "traefik.http.middlewares.lubelogger-https-redirect.redirectscheme.scheme=https"
        - "traefik.http.routers.lubelogger.middlewares=lubelogger-https-redirect"
        - "traefik.http.routers.lubelogger-secure.entrypoints=https"
        - "traefik.http.routers.lubelogger-secure.rule=Host(`lubelogger.hughboi.cc`)"
        - "traefik.http.routers.lubelogger-secure.tls=true"
        - "traefik.http.routers.lubelogger-secure.service=lubelogger"
        - "traefik.http.services.lubelogger.loadbalancer.server.port=8080"
        - "traefik.docker.network=proxy"
    networks:
      - proxy

networks:
  proxy:
    external: true

volumes:
  config:
  data:
  translations:
  documents:
  images:
  temp:
  log:
  keys:    

