 services:
   bookstack:
     container_name: bookstack
     image: lscr.io/linuxserver/bookstack
     restart: unless-stopped
     logging:
       driver: loki
       options:
         loki-url: https://loki.hughboi.cc/loki/api/v1/push
         loki-retries: 2
         loki-max-backoff: 800ms
         loki-timeout: 1s
         keep-file: "true"
         mode: non-blocking
     volumes:
       - /home/hughboi/data/bookstack/config:/config
     environment:
       - PUID=1000
       - PGID=1000
       - APP_URL=${APP_URL}
       - APP_KEY=${APP_KEY}
       - DB_HOST=bookstack_db
       - DB_PORT=3306
       - DB_DATABASE=#${DB_NAME}
       - DB_USERNAME=${DB_USER}
       - DB_PASSWORD=${DB_PASS}
       - TZ=America/Denver

     labels:
       - traefik.enable=true
       - traefik.http.routers.bookstack.entrypoints=http
       - traefik.http.routers.bookstack.rule=Host(`bookstack.hughboi.cc`)
       - traefik.http.middlewares.bookstack-https-redirect.redirectscheme.scheme=https
       - traefik.http.routers.bookstack.middlewares=bookstack-https-redirect
       - traefik.http.routers.bookstack-secure.entrypoints=https
       - traefik.http.routers.bookstack-secure.rule=Host(`bookstack.hughboi.cc`)
       - traefik.http.routers.bookstack-secure.tls=true
       - traefik.http.routers.bookstack-secure.service=bookstack
       - traefik.http.services.bookstack.loadbalancer.server.port=80
       - traefik.docker.network=proxy
       - diun.enable=true
     networks:
       - proxy
       - bookstack

   bookstack_db:
     container_name: bookstack_db
     image: lscr.io/linuxserver/mariadb:11.4.5
     restart: unless-stopped
     volumes:
       - /home/hughboi/data/bookstack/db:/config
     environment:
       - PUID=1000
       - PGID=1000
       - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
       - TZ=America/Denver
       - MYSQL_DATABASE=#${DB_NAME}
       - MYSQL_USER=${DB_USER}
       - MYSQL_PASSWORD=${DB_PASS}
     networks:
       - bookstack


 networks:
   bookstack:
   proxy:
     external: true
